<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<div>
    <table class="table table-dark table-striped table-hover table-sm">
        <thead class="thead-light">
            <tr>
                <th>Detail</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="thead-light">Flight No.</th>
                <td><%= flight.flightNo %></td>
            </tr>
            <tr>
                <th scope="row">Airline</th>
                <td><%= flight.airline %></td>
            </tr>
            <tr>
                <th scope="row">Airport</th>
                <td><%= flight.airport %></td>
            </tr>
            <tr>
                <th scope="row">Departure</th>
                <td><%= moment(flight.departs).format("DD MMM YYYY HH:mm") %></td>
            </tr>
        </tbody>
    </table>
</div>


<%- include('../partials/footer') %>
