<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<div>
    <table class="table table-dark table-sm">
        <thead class="thead-light">
            <tr>
                <th>Detail</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="thead-light">Flight No.</th>
                <td><%= flight.flightNo %></td>
            </tr>
            <tr>
                <th scope="row">Airline</th>
                <td><%= flight.airline %></td>
            </tr>
            <tr>
                <th scope="row">Airport</th>
                <td><%= flight.airport %></td>
            </tr>
            <tr>
                <th scope="row">Departure</th>
                <td><%= moment(flight.departs).format("DD MMM YYYY HH:mm") %></td>
            </tr>
            <% if (flight.destinations.length > 0) { %>
                <tr class="">
                    <% if (flight.destinations.length > 1) { %>
                        <th scope="row">Destination(s)</th>
                    <% } else { %>
                        <th scope="row">Destination&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <% } %>
                    <!-- <td><%= flight.destinations.length %></td> -->
                    <td>
                        <table class="table table-dark table-sm">
                            <thead class="">
                                <tr class="bg-primary">
                                    <th>Airport</th>
                                    <th>Arrival</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% flight.destinations.forEach (function(destination) {  %>
                                    <tr>
                                        <td><%= destination.airport %></td>
                                        <td><%= moment(destination.arrival).format("DD MMM YYYY HH:mm") %></td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </td>
                </tr>
            <% } %>
            
        </tbody>
    </table>
    <div class="text-white text-right">
        <span>LAST UPDATED: <%= moment(flight.updatedAt).format("DD MMM YYYY HH:mm") %></span>
    </div>
</div>

<div class="update">
    <form id="update" action="/flights/<%= flight._id %>/destination" method="POST">
        <h3 class="text-white">Add Details</h3>
        <div class="form-group row">
            <label class="col-form-label col-sm-3 text-white">
                Destination Airport
            </label>
            <select name="airport" class="form-control col-sm-5" required>
                <option value="">Select Airport</option>
                <% airportsToSelect.forEach(function(airport) {  %>
                    <option value="<%= airport %>"><%= airport %></option>
                <% }) %>
            </select>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-3 text-white">
                Arrival Date
            </label>
            <input type="datetime-local" name="arrival" value="<%= defaultDate %>" class="form-control col-sm-5"/>
        </div>
        <button class="btn btn-outline-danger btn-sm">UPDATE</button>
    </form>
</div>


<%- include('../partials/footer') %>
